{{!
  Checkbox Partial for rendering a styled version of a checkbox
  If standard checkbox is desired, just go with `<input type="checkbox" {#if <complete_var> } checked {/if} />`

  @param {String} id - (def: '') checkbox identifier, sent as key with HTML form (also css #id of input)
  @param {String} val - (def: true) value of checkbox for event handlers (TODO: and for submitting HTML form too)
  @param {Boolean} checked - (def: false) sets checked status of checkbox
  @param {String} label - (def: '') clickable label text (toggles checkbox)
  @param {String} color - (def: 'black') color of the checkmark in the checkbox
  @param {String} bg - (def: 'white') background color of the checkbox
  @param {String} bg-checked - (def: bg || 'white') background color of the checkbox after checked
  @param {String} size - (def: '') size of checkmark (available values = `sm`, `lg`)
}}
<label class="checkbox-label flex {{#if size }} checkbox-{{size}} {{/if}}">
  <div class="checkbox-style bg-{{default-val bg 'white'}} relative shadow p-1 flex justify-center items-center mr-2">
    <input type="checkbox" class="hidden"
      {{#if id }} id="{{id}}" name="{{id}}" {{/if}}
      {{#if checked }} checked {{/if}}
      value="{{default-val val true}}">
    <!-- visible on input:checked (see .scss file) -->
    <div class="hidden complete-bg absolute z-0 w-full h-full bg-{{default-val bg-checked background}}"></div>
    <i class="hidden icon {{#if size}} icon-{{size}} {{/if}} z-10 text-{{default-val color 'black'}} pointer-events-none">
      @svg("img/zondicons/checkmark.svg")
    </i>
  </div>
  <span class="select-none">{{ label }}</span>
</label>
